@charset "UTF-8";

header {
	display:flex;
	justify-content:flex-start;
	flex-wrap:wrap;
	align-content:space-between;
	background: linear-gradient(#52d379, #fea32d, #ffffff);
	font-family: Tahoma, Geneva, sans-serif;
	
	
}

body {
	height: 100%;
	display:flex;
	flex-direction : column ; 
	flex-wrap : wrap;
	background: url(https://previews.123rf.com/images/macrovector/macrovector1608/macrovector160800254/61577046-peinture-traditionnelle-vente-aux-ench%C3%A8res-ench%C3%A8res-participants-avec-tablette-pour-ordinateur-porta.jpg);
	background-size: cover;
}

.container1 {
	background: rgba(204, 204, 153, 0.7) ;
	border-radius: 10px;
	border-color: black;
	border: 2px solid black;
	padding: 5px;
	
	
}

.containerConnexion {

	display: flex;
	flex-flow : row;
	flex-direction : column ; 
	justify-content: center;
	font-family: Tahoma, Geneva, sans-serif;
	align-items: center;


}


.containerFormulaire {

	display: flex;
	justify-content: center;
	font-family: Tahoma, Geneva, sans-serif;
	width:100%;
	text-align: right;

}

.label-input-container {
	display: flex;
	padding: 10px;
	width:80%;
	
}
.my-label {
	width: 100%;
	display: inline-block;
	text-align: right;
}

h1 {
	display:flex;
	justify-content: center;
	font-family: Tahoma, Geneva, sans-serif;
	border-radius: 10px;
	border-color: #000000;
	background:linear-gradient(#52d379, #fea32d, #ffffff);
}

h2 {
	display:flex;
	justify-content: center;
	font-family:Tahoma, Geneva, sans-serif;
	border-radius: 10px;
	border-color: #000000;
	background:linear-gradient(#52d379, #fea32d, #ffffff);
	
}

p {
	font-family: Tahoma, Geneva, sans-serif;
}

.block  {
	font-family: Tahoma, Geneva, sans-serif;
	display:flex;
	justify-content: space-around ;
	
	
	
}
.block2 {
	font-family: Tahoma, Geneva, sans-serif;
	display:flex;
	justify-content: space-around ;
	
	
}
lectureProfil {
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

form {
	display: flex;
	flex-direction : column ; 
	flex-wrap : wrap;
	justify-content: center;
	font-family: Tahoma, Geneva, sans-serif;
	align-items: center;
	align-content: space-around;
}

.containerBouton {
	font-family:Tahoma, Geneva, sans-serif;
	background: linear-gradient(to right, gold, darkorange);
	color: white;
	--width: 100px;
	--height: calc(var(--width) / 3.5);
	width: var(--width);
	height: var(--height);
	text-align: center;
	line-height: var(--height);
	font-size: calc(var(--height) / 4);
	letter-spacing: 0.2em;
	border: 1px solid darkgoldenrod;
	border-radius: 2em;
	transform: perspective(500px) rotateY(-15deg);
	text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
	position: relative;
	overflow: hidden;
	padding-bottom: 5px;
	margin: 8px;
}

.containerBouton:hover {
	transform: perspective(500px) rotateY(15deg);
	text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}

.containerBouton::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, transparent, white, transparent);
	left: -100%;
	transition: 0.5s;
}

.containerBouton:hover::before {
	left: 100%;
}
}

.firefly {
  position: fixed
  left: 50%
  top: 50%
  width: 0.4vw
  height: 0.4vw
  margin: -0.2vw 0 0 9.8vw
  animation: ease 200s alternate infinite
  pointer-events: none
  
  

  