@charset "UTF-8";

.EnTete{
	display:flex;
	justify-content: space-between;
	background: #820000;
	border-style: groove;
	border-color: #dbaa02;
	border-width:6px;
}

body {
	height: 100%;
	display:flex;
	flex-direction : column ; 
	flex-wrap : wrap;
	background-size: cover;
	background-image: url("img/bg_encheres.png");
}

.container1 {
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background: rgba(204, 204, 153, 0.8) ;
	border-radius: 10px;
	border-style: groove;
	border-color: #dbaa02;
	border-width:3px;
	padding: 5px;
	
	
}

.retrait {
	display: flex;
	
}
.containerConnexion {

	display: flex;
	flex-flow : row;
	flex-direction : column ; 
	justify-content: center;
	font-family: Tahoma, Geneva, sans-serif;
	align-items: center;
}


.containerFormulaire {

	display: flex;
	justify-content: center;
	font-family: Tahoma, Geneva, sans-serif;
	width:100%;
	text-align: right;

}

.label-input-container {
	display: flex;
	padding: 10px;
	width:80%;
	
}
.my-label {
	width: 100%;
	display: inline-block;
	text-align: right;
}

h1 {
	display:flex;
	margin:3px;
	justify-content: center;
	font-family: Brush Script MT, Brush Script Std, cursive;
	background: #820000;
	text-shadow:0 4px 0 #000000;
	color: #fec501;
}

h2 {
	display:flex;
	justify-content: center;
	align-content: center;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size:xx-large;
	border-radius: 5px;
	background: #820000;
	border-style: groove;
	border-width:5px;
	border-color: #dbaa02;
	text-shadow:0 4px 0 #000000;
	color: #fec501;
	width:20%;
	
}

p {
	font-family: Tahoma, Geneva, sans-serif;
}

.block  {
	font-family: Tahoma, Geneva, sans-serif;
	display:flex;
	justify-content: space-around ;
	
	
	
}
.block2 {
	font-family: Tahoma, Geneva, sans-serif;
	display:flex;
	justify-content: space-around ;
	
	
}
lectureProfil {
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

form {
	display: flex;
	flex-direction : column ; 
	flex-wrap : wrap;
	justify-content: center;
	font-family: Tahoma, Geneva, sans-serif;
	align-items: center;
	align-content: space-around;
}


  

.containerBouton {
	font-family:Tahoma, Geneva, sans-serif;
	background: linear-gradient(to right, gold, darkorange);
	color: white;
	--width: 100px;
	--height: calc(var(--width) / 3.5);
	width: var(--width);
	height: var(--height);
	text-align: center;
	line-height: var(--height);
	font-size: calc(var(--height) / 2.5);
	letter-spacing: 0.2em;
	border: 1px solid darkgoldenrod;
	border-radius: 2em;
	transform: perspective(500px) rotateY(-15deg);
	text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
	position: relative;
	overflow: hidden;
	padding-bottom: 5px;
	margin: 8px;
}

.containerBouton:hover {
	transform: perspective(500px) rotateY(15deg);
	text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}

.containerBouton::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, transparent, white, transparent);
	left: -100%;
	transition: 0.5s;
}

.containerBouton:hover::before {
	left: 100%;
}

.containerBoutonWide {
	font-family:Tahoma, Geneva, sans-serif;
	background: linear-gradient(to right, gold, darkorange);
	color: white;
	--width: 115px;
	--height: calc(var(--width) / 4.5);
	width: var(--width);
	height: var(--height);
	text-align: center;
	line-height: var(--height);
	font-size: calc(var(--height) / 3);
	letter-spacing: 0.2em;
	border: 1px solid darkgoldenrod;
	border-radius: 2em;
	transform: perspective(500px) rotateY(-15deg);
	text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
	position: relative;
	overflow: hidden;
	padding-bottom: 5px;
	margin: 8px;
}

.containerBoutonWide:hover {
	transform: perspective(500px) rotateY(15deg);
	text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}

.containerBoutonWide::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, transparent, white, transparent);
	left: -100%;
	transition: 0.5s;
}

.containerBoutonWide:hover::before {
	left: 100%;
}


p {
	display:flex;
	margin: 5px;
	justify-content: center;
	font-family: Brush Script MT, Brush Script Std, cursive;
	text-shadow:0 2px 0 #000000;
	color: #fec501;
	font-size: 150%; 
}

label {
	display:flex;
	margin: 5px;
	justify-content: center;
	font-family:Monotype Corsiva, cursive;
	text-shadow:0 3px 0 #fec605;
	color: #000000;
	font-size: 150%; 
	font-weight: bold;
	
}
  